.Rproj.user
.Rhistory
.RData
.Ruserdata
*Rproj
README.html
results/
.snakemake/
figures/figure_*_figure*
figures/figure_*pdf
resources/*
!resources/data
resources/data/*
!resources/data/CiteScore*xlsx

