name: CI

on: 
  push

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
      - run: |
          conda --version
          which python
      
      - name: Setup Snakemake environment
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          conda install -c conda-forge -q mamba
          mamba create -y -q -c conda-forge -c bioconda -n snakemake snakemake

      - name: Setup apt dependencies
        run: |
          sudo apt install -y stress \
            build-essential \
            libssl-dev \
            uuid-dev \
            libgpgme11-dev \
            squashfs-tools \
            libseccomp-dev \
            wget \
            pkg-config \
            git \
            cryptsetup

      - name: Setup Golang
        uses: actions/setup-go@v2
        with:
          go-version: '1.13'

      - name: Setup singularity
        run: |
          export VERSION=3.6.2
          wget https://github.com/sylabs/singularity/releases/download/v${VERSION}/singularity-${VERSION}.tar.gz
          tar -xzf singularity-${VERSION}.tar.gz
          cd singularity
          ./mconfig
          make -C builddir
          sudo make -C builddir install

      - name: Test run
        env:
          CI: true
        run: |
          # activate conda env
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate snakemake
          mamba install -c conda-forge pulp=1.6.8
          mkdir -p results/models
          snakemake --use-conda --use-singularity --restart-times 0 -j

